body {
    background-color: #0d1117;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 36vw;
    height: 67vh;
    margin: 0 auto;
}

.slider {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 36vw;
    height: 36vw;
    -moz-box-shadow: 0 0 10px #00ffdd;
    box-shadow: 0 0 10vw #00ffdd;
}

.controls {
    display: flex;
}

.control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 8vw;
}

.control-noactive {
    border: 2px solid #00ffdd;
    border-radius: 50px;
    width: 1vw;
    height: 1vw;
    transition: 0.5s;
}

.control-container:hover>.control-noactive {
    background-color: #00ffdd;
}

.control-active {
    border: 2px solid #ffffff;
    border-radius: 50px;
    background-color: #ffffff;
    width: 1vw;
    height: 1vw;
    transition: 0.5s;
}

.subscription {
    font-family: 'Akshar', sans-serif;
    display: flex;
    align-items: center;
    width: 18vw;
    color: #ffffff;
    font-size: 1.5vw;
}

img {
    width: 36vw;
}